
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
	{% include "../includes/phase.html" %}

<style>
	.govuk-table {margin-bottom:50px;}
</style>

<script>
	
</script>

  
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
		
		<h1 class="govuk-heading-xl">Upload guidance</h1>{{releaseVersion | log }}
      
    <h2 class="govuk-heading-l">General</h2>
      
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">File guidance</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Subject</th>
					<th scope="col" class="govuk-table__header">Guidance</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">Upload process</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The steps of the upload process are as follows:
                <ol class="govuk-list govuk-list--number">
                  <li><strong>Upload products and landings</strong> - Upload the CSV file containing the product IDs and landings.</li>
                  <li><strong>Fix errors (if required)</strong> - If there are multiple errors, you can clear the upload, amend the file, and reupload.</li>
                  <li><strong>Review/correct</strong> - The steps will take you back to the Add landings page where you can add any missing landings manually or correct any mistakes you find.</li>
                </ol>
              </li>
              <li>Multiple CSV files can be uploaded by cycling through the process again.</li>
            </ul>
          </td>
    		</tr>
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">Limitations</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The maximum number of rows that can be uploaded per catch certificate is 100.</li>
              <li>You can only upload products that have been saved in your product favourites, accessible from the main navigation.</li>
              <li>If your export contains multiple products from the same landing, the landing will need to be repeated for each product.</li>
            </ul>
          </td>
    		</tr>
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">Product IDs</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Product IDs are created when <a href="#favourites"> product favourites</a> are saved. </li>
              <li>They are unique to each user and are used to speed up the process of uploading products.</li>
              <li>Product IDs are only used internally by the FES service and have no relevance to the final catch certificate.</li>	
            </ul>
          </td>
    		</tr>
			</tbody>
		</table>
      
    <h2 class="govuk-heading-l">CSV file</h2>
      
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">File guidance</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Subject</th>
					<th scope="col" class="govuk-table__header">Guidance</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">File type</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
                <li>The upload file must be a CSV file (CSV stands for Comma Separated Values).</li>
                <li>CSV files can be generated by exporting from spreadsheets or other software with an export feature.</li>
            </ul>
          </td>
    		</tr>
    		<tr class="govuk-table__row">
      		<th scope="row" class="govuk-table__header">Data structure</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Do not include a header row.</li>
              <li>Each row should have the following structure:
                <div class="govuk-inset-text">
                  <strong>Product ID,Date landed,Catch area,Vessel PLN,Export weight</strong>
                  <br>For example: PRD123,01/01/2021,FAO27,PH1100,50.95
                </div>
              </li>
              <li>Only use commas to separate fields (known as 'delimiters').</li>
              <li>You are advised to group the rows together in a way that makes it easy for you to check the upload. For example, you could group landings by product or by vessel.</li>
            </ul>
          </td>
    		</tr>
    		<tr class="govuk-table__row">
      		<th scope="row" class="govuk-table__header">Validation</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Uploaded products and landings will be subjected to the same validation as those entered manually.</li>
              <li>If some rows fail to upload and you want to add them later manually, you should make a note of them before continuing.</li>
            </ul>
          </td>
    		</tr>
			</tbody>
		</table>
      
    <h2 class="govuk-heading-l">Data requirements</h2>
		
		<table class="govuk-table">
			<caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Data guidance</caption>
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Field</th>
					<th scope="col" class="govuk-table__header">Guidance</th>
					<th scope="col" class="govuk-table__header">Example</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">Product ID</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The product ID must refer to a product saved in your product favourites.</li>
            </ul>
          </td>
					<td class="govuk-table__cell">PRD123</td>
    		</tr>
    	  <tr class="govuk-table__row">
      	  <th scope="row" class="govuk-table__header">Date landed</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Landing dates must be real dates in the format 'dd/mm/yyyy'.</li>
              <li>Dates cannot be more than 7 days in the future.</li>
            </ul>
          </td>
					<td class="govuk-table__cell">01/01/2021</td>
    		</tr>
    		<tr class="govuk-table__row">
      		<th scope="row" class="govuk-table__header">Catch area</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The catch area must be a FAO major fishing area.</li>
              <li>A list of the major fishing areas is available from: www.fao.org</li>
            </ul>
          </td>
					<td class="govuk-table__cell">FAO27</td>
    		</tr>
    		<tr class="govuk-table__row">
      		<th scope="row" class="govuk-table__header">Vessel PLN</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The PLN must be a valid Vessel PLN.</li>
              <li>Vessels must be licensed on the date the catch was landed.</li>
              <li>Vessel PLNs are available from: www.fishhub.cefas.co.uk/vessel-register/</li>
            </ul>
          </td>
				  <td class="govuk-table__cell">PH1100</td>
    		</tr>
    		<tr class="govuk-table__row">
      		<th scope="row" class="govuk-table__header">Export weight</th>
      		<td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>The export weight must be in kilograms (kg).</li>
              <li>Weights must be greater than zero with up to two decimal places.</li>
            </ul>
          </td>
					<td class="govuk-table__cell">50.95</td>
    		</tr>
			</tbody>
		</table>

	  </div>
  </div>

	{% include "../includes/help.html" %}
{% endblock %}

