{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block head %}

<style>
  .govuk-radios__input:checked+.govuk-radios__label::before,
  .govuk-radios__input+.govuk-radios__label::before {
    background-color: #ffffff !important;
  }
</style>


{{ super() }}



<link rel="stylesheet" href="/build-v2/_assets/govuk-frontend.min-5TZSCRBE.css">
<link rel="stylesheet" href="/build-v2/_assets/language-MWHIHAGR.css">
<link rel="stylesheet" href="/build-v2/_assets/help-link-B3BPNIA5.css">
<link rel="stylesheet" href="/build-v2/_assets/banner-7FVKMX46.css">
<link rel="stylesheet" href="/build-v2/_assets/dashboard-PJVMVE46.css">
<link rel="stylesheet" href="/build-v2/_assets/app-task-GZRNR5JK.css">
<link rel="stylesheet" href="/build-v2/_assets/autocomplete-LSXXNNXN.css">
<link rel="stylesheet" href="/build-v2/_assets/upload-guidance-AP3HH7Z6.css">
<link rel="stylesheet" href="/build-v2/_assets/directLanding-5P6VBAUJ.css">
<link rel="stylesheet" href="/build-v2/_assets/react-datepicker-TBH2VA4Q.css">
<link rel="stylesheet" href="/build-v2/_assets/utils-QP7FJSJ4.css">

{% endblock %}

{% block content %}
{% include "../includes/phase.html" %}

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-inset-text" id="directLandingsGuidanceMessage">
        <label class="govuk-label govuk-label--s">Please note:</label>
        <ul class="govuk-list govuk-list--bullet">
          <li>A landing date is required before selecting a vessel</li>
          <li>Landing dates can be up to 7 days in the future in draft documents but only up to 3 days in the future
            in final submitted catch certificates</li>
          <li>All landings should have been made in accordance with the relevant conservation and management measures
          </li>
        </ul>
      </div>
      <h1 class="govuk-heading-xl ">Add your trip</h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Under new EU regulations, it will be mandatory to provide detailed catch area and gear type information for
          all fishing activities.
        </strong>
      </div>


      <div style="background-color: #f8f8f8; width: 100%; padding: 2rem; border-radius: 2;">
      <form id="landingForm" method="post" action="../gamma/add-landings">



          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend"><b>Start date of fishing trip (optional)</b>
              </legend>
              <div id="date-hint" class="govuk-hint">For example, 31 03 1980</div>
              <div class="govuk-date-input">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="startDate-day">Day</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-day"
                      name="startDateDay" type="number" inputmode="numeric" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="startDate-month">Month</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="startDate-month"
                      name="startDateMonth" type="number" inputmode="numeric" value="">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="startDate-year">Year</label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="startDate-year"
                      name="startDateYear" type="number" inputmode="numeric" value="">
                  </div>
                </div>
                <!-- Calendar Icon -->
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group govuk-!-margin-top-6">
                    <!-- Button to trigger the calendar popup -->
                    <button type="button" id="calendarButtonStart" aria-label="Choose Date"
                      style="padding-top: 2px; border: none; box-shadow: 0 2px #929191; background-color: #efefef; cursor: pointer;">
                      <img alt="calendar" src="/assets/images/calendar.png" style="width: 20px; height: 20px;">
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Start date
              </span>
            </summary>
            <div class="govuk-details__text">
              This is the date the vessel left port on the trip when the fish was landed.

            </div>
          </details>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend">
                  <h1 class="govuk-fieldset__heading"><b>Date Landed</b></h1>
                </legend>
                <div id="date-hint" class="govuk-hint">For example, 31 03 1980</div>

                <div class="govuk-date-input" id="dateLanded">
                  <!-- Day -->
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateLanded-day">Day</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateLanded-day"
                        name="dateLandedDay" type="number" inputmode="numeric">
                    </div>
                  </div>
                  <!-- Month -->
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateLanded-month">Month</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dateLanded-month"
                        name="dateLandedMonth" type="number" inputmode="numeric">
                    </div>
                  </div>
                  <!-- Year -->
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="dateLanded-year">Year</label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dateLanded-year"
                        name="dateLanded" type="number" inputmode="numeric">
                    </div>
                  </div>

                  <!-- Calendar Icon -->
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group govuk-!-margin-top-6">
                      <!-- Button to trigger the calendar popup -->
                      <button type="button" id="calendarButtonLanded" aria-label="Choose Date"
                        style="padding: 4px; border: none; box-shadow: 0 2px #929191; background-color: #efefef; cursor: pointer; display: flex; align-items: center; justify-content: center; border-radius: 4px;">
                        <img src="/assets/images/calendar.png" alt="calendar" style="width: 20px; height: 20px;">

                      </button>


                      <!-- Hidden input field for date picker -->
                      <input type="text" id="datepicker" placeholder="Select a date" style="display:none;">
                    </div>
                  </div>
                </div>
            </fieldset>
          </div>


          <div class="govuk-form-group">
            <label for="select-faoArea" class="govuk-label"><b>Catch area</b></label>
            <select class="govuk-select" id="select-faoArea" name="faoArea">
              <option value="">Select catch area</option>
              <option value="FAO 27">FAO 27</option>
              <option value="FAO 37">FAO 37</option>
              <option value="FAO 41">FAO 41</option>
              <option id="faoArea_FAO47" value="FAO47">FAO47</option>
              <option id="faoArea_FAO48" value="FAO48">FAO48</option>
              <option id="faoArea_FAO51" value="FAO51">FAO51</option>
              <option id="faoArea_FAO57" value="FAO57">FAO57</option>
              <option id="faoArea_FAO58" value="FAO58">FAO58</option>
              <option id="faoArea_FAO61" value="FAO61">FAO61</option>
              <option id="faoArea_FAO67" value="FAO67">FAO67</option>
              <option id="faoArea_FAO71" value="FAO71">FAO71</option>
              <option id="faoArea_FAO77" value="FAO77">FAO77</option>
              <option id="faoArea_FAO81" value="FAO81">FAO81</option>
              <option id="faoArea_FAO87" value="FAO87">FAO87</option>
              <option id="faoArea_FAO88" value="FAO88">FAO88</option>
            </select>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="high-seas-hint">
              <label class="govuk-label"><b>Product caught in high seas area? (optional)</b></label>
              <div id="high-seas-hint" class="govuk-hint">
                Select yes if the product was caught in international waters.
              </div>
              <div class="govuk-radios" data-module="govuk-radios" id="high-seas-radio">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="high-seas-yes" name="highSeas" type="radio" value="yes"
                    style="background-color: white;">
                  <label class="govuk-label govuk-radios__label" for="high-seas-yes">Yes</label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="high-seas-no" name="highSeas" type="radio" value="no"
                    style="background-color: white;">
                  <label class="govuk-label govuk-radios__label" for="high-seas-no">No</label>
                </div>
              </div>
            </fieldset>
          </div>


          <div class="govuk-form-group" id="eez-group" style="display: none;">
            <label for="select-eez" class="govuk-label" id="eez-label"><b>Exclusive economic zone <span
                  id="eez-status">(optional)</span></b>
              <div class="govuk-hint">
                This will be required from January 2026 under EU regulations.
              </div>
            </label>
            <select class="govuk-select" id="select-eez" name="eez">
              <option value="">Select country</option>
              <option value="Australia">Australia</option>
              <option value="Canada">Canada</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="European Union">European Union</option>
              <option value="India">India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Japan">Japan</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Norway">Norway</option>
              <option value="Russia">Russia</option>
              <option value="South Africa">South Africa</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
            </select>
          </div>

          <script>
            document.addEventListener('DOMContentLoaded', function () {
              const yesRadio = document.getElementById('high-seas-yes');
              const noRadio = document.getElementById('high-seas-no');
              const eezGroup = document.getElementById('eez-group');
              const eezSelect = document.getElementById('select-eez');
              const eezStatus = document.getElementById('eez-status');

              function updateEEZVisibility() {
                if (noRadio.checked) {
                  eezGroup.style.display = 'block';
                  eezSelect.setAttribute('required', 'required');
                  eezStatus.textContent = '(required)';
                } else if (yesRadio.checked) {
                  eezGroup.style.display = 'block';
                  eezSelect.removeAttribute('required');
                  eezStatus.textContent = '(optional)';
                } else {
                  eezGroup.style.display = 'none';
                  eezSelect.removeAttribute('required');
                  eezStatus.textContent = '(optional)';
                }
              }

              yesRadio.addEventListener('change', updateEEZVisibility);
              noRadio.addEventListener('change', updateEEZVisibility);
            });
          </script>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                What is a high seas area?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>A high seas area is any part of the sea that is <strong>not</strong>:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>within a country’s territorial sea (up to 12 nautical miles from the coast), or</li>
                <li>part of a country’s internal waters (like bays or estuaries)</li>
              </ul>
              <p>High seas are <strong>international waters</strong>. No country owns them. All countries have the right
                to use the high seas for things like:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>navigation</li>
                <li>fishing</li>
                <li>laying submarine cables and pipelines</li>
                <li>flying over the sea</li>
              </ul>
              <p>These rights must be used with respect for other countries and international law.</p>
            </div>
          </details>



          <div class="govuk-form-group">
            <label for="select-rfmo" class="govuk-label"><b>Regional fisheries management organisation
                (optional)</b></label>
            <select class="govuk-select" id="select-rfmo" name="rfmo">
              <option value="">Select RFMO</option>
              <option value="CCAMLR">CCAMLR – Commission for the Conservation of Antarctic Marine Living Resources
              </option>
              <option value="ICCAT">ICCAT – International Commission for the Conservation of Atlantic Tunas</option>
              <option value="IOTC">IOTC – Indian Ocean Tuna Commission</option>
              <option value="IATTC">IATTC – Inter-American Tropical Tuna Commission</option>
              <option value="NAFO">NAFO – Northwest Atlantic Fisheries Organization</option>
              <option value="NEAFC">NEAFC – North East Atlantic Fisheries Commission</option>
              <option value="SPRFMO">SPRFMO – South Pacific Regional Fisheries Management Organisation</option>
              <option value="WCPFC">WCPFC – Western and Central Pacific Fisheries Commission</option>
            </select>
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="vessel">
              <b>Vessel name or port letter and number (PLN)</b>
            </label>
            <span class="govuk-hint" id="vessel-select-hint">
              Type at least two characters to load the list.
            </span>
            <div class="dcx-form-input dcx-form-input--filled">
              <input name="vessel" type="text" class="govuk-input govuk-input--width-20" autocomplete="off" id="vessel"
                aria-expanded="false" role="combobox" aria-autocomplete="list" aria-owns="vessel-listbox"
                aria-activedescendant="">
              <ul id="vessel-listbox" role="listbox" class="govuk-list govuk-list--spaced"
                style="display: none; border: 1px solid #b1b4b6; padding: 0.5em; background: white; position: absolute; z-index: 1000;">
              </ul>
            </div>
          </div>

          <script>
            const vessels = [ "MIKKEL LOUISE (PD344)", "OCEAN SPIRIT (AB123)", "SEA VENTURE (FR456)", "NORTH STAR (LK789)",
              "WAVE RIDER (BF101)", "HORIZON CHASER (KY202)", "TIDE HUNTER (OB303)", "STORM BREAKER (PL404)",
              "DEEP EXPLORER (TT505)", "AQUA MARINER (UL606)", "CORAL SEEKER (WD707)", "SUNSET VOYAGER (XY808)",
              "ISLAND NAVIGATOR (ZQ909)", "COASTAL GUARDIAN (MN010)", "OCEAN WANDERER (PQ111)", "SEA RANGER (RS212)",
              "WAVE CRUISER (TU313)", "HORIZON SCOUT (VW414)", "TIDE CHASER (XY515)", "STORM NAVIGATOR (YZ616)",
              "DEEP VENTURE (AB717)", "AQUA EXPLORER (CD818)", "CORAL VOYAGER (EF919)", "SUNSET SEEKER (GH020)",
              "ISLAND GUARDIAN (IJ121)", "COASTAL NAVIGATOR (KL222)", "OCEAN SCOUT (MN323)", "SEA WANDERER (OP424)",
              "WAVE SEEKER (QR525)", "HORIZON NAVIGATOR (ST626)", "TIDE SCOUT (UV727)", "STORM EXPLORER (WX828)",
              "DEEP SEEKER (YZ929)", "AQUA VENTURE (AB030)", "CORAL NAVIGATOR (CD131)", "SUNSET EXPLORER (EF232)",
              "ISLAND SEEKER (GH333)", "COASTAL SCOUT (IJ434)", "OCEAN NAVIGATOR (KL535)", "SEA EXPLORER (MN636)",
              "WAVE NAVIGATOR (OP737)", "HORIZON SEEKER (QR838)", "TIDE EXPLORER (ST939)", "STORM SEEKER (UV040)",
              "DEEP NAVIGATOR (WX141)", "AQUA SEEKER (YZ242)", "CORAL EXPLORER (AB343)", "SUNSET NAVIGATOR (CD444)",
              "ISLAND EXPLORER (EF545)", "COASTAL SEEKER (GH646)",];
            const input = document.getElementById('vessel');
            const listbox = document.getElementById('vessel-listbox');

            input.addEventListener('input', function () {
              const query = this.value.toLowerCase();
              listbox.innerHTML = '';
              if (query.length >= 2) {
                const matches = vessels.filter(v => v.toLowerCase().includes(query));
                if (matches.length > 0) {
                  listbox.style.display = 'block';
                  matches.forEach((vessel, index) => {
                    const option = document.createElement('li');
                    option.setAttribute('role', 'option');
                    option.setAttribute('id', `vessel-name-option--${index}`);
                    option.textContent = vessel;
                    option.style.cursor = 'pointer';
                    option.addEventListener('click', () => {
                      input.value = vessel;
                      listbox.style.display = 'none';
                    });
                    listbox.appendChild(option);
                  });
                } else {
                  listbox.style.display = 'none';
                }
              } else {
                listbox.style.display = 'none';
              }
            });

            document.addEventListener('click', function (e) {
              if (!input.contains(e.target) && !listbox.contains(e.target)) {
                listbox.style.display = 'none';
              }
            });
          </script>


          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I cannot find vessel
              </span>
            </summary>
            <div class="govuk-details__text">
              If the vessel you need cannot be found, search for and select 'Vessel not found (N/A)'.

            </div>
          </details>


          <div class="govuk-form-group">
            <label class="govuk-label" for="weight"><b>Export weight (kg)</b></label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="number" value=""
                spellcheck="false">
              <div class="govuk-input__suffix" aria-hidden="true">kg</div>
            </div>
          </div>

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Gear details (optional)
            </legend>
            <div class="govuk-hint">
              This will be required from January 2026 under EU regulations.
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="gear1">Gear category</label>
              <select class="govuk-select" id="gear1" name="gear1">
                <option value="">Select gear category</option>
                <option value="Surrounding nets">Surrounding nets</option>
                <option value="Seine nets">Seine nets</option>
                <option value="Trawls">Trawls</option>
                <option value="Dredges">Dredges</option>
                <option value="Lift nets">Lift nets</option>
                <option value="Falling gear">Falling gear</option>
                <option value="Gillnets and entangling nets">Gillnets and entangling nets</option>
                <option value="Traps">Traps</option>
                <option value="Hooks and lines">Hooks and lines</option>
                <option value="Miscellaneous gear">Miscellaneous gear</option>
                <option value="Gear not known">Gear not known</option>
              </select>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="gear2">Gear type</label>
              <select class="govuk-select" id="gear2" name="gear2">
                <option value="">Select gear type</option>
              </select>
            </div>
          </fieldset>

          <script>
            const gearTypes = {
              "Surrounding nets": [
                { value: "PS", text: "Purse seines (PS)" },
                { value: "LA", text: "Surrounding nets without purse lines (LA)" },
                { value: "SUX", text: "Surrounding nets (nei) (SUX)" }
              ],
              "Seine nets": [
                { value: "SB", text: "Beach seines (SB)" },
                { value: "SV", text: "Boat seines (SV)" },
                { value: "SX", text: "Seine nets (nei) (SX)" }
              ],
              "Trawls": [
                { value: "TBB", text: "Beam trawls (TBB)" },
                { value: "OTB", text: "Single boat bottom otter trawls (OTB)" },
                { value: "OTT", text: "Twin bottom otter trawls (OTT)" },
                { value: "OTP", text: "Multiple bottom otter trawls (OTP)" },
                { value: "PTB", text: "Bottom pair trawls (PTB)" },
                { value: "TB", text: "Bottom trawls (nei) (TB)" },
                { value: "OTM", text: "Single boat midwater otter trawls (OTM)" },
                { value: "PTM", text: "Midwater pair trawls (PTM)" },
                { value: "TM", text: "Midwater trawls (nei) (TM)" },
                { value: "TSP", text: "Semipelagic trawls (TSP)" },
                { value: "TX", text: "Trawls (nei) (TX)" }
              ],
              "Dredges": [
                { value: "DRB", text: "Towed dredges (DRB)" },
                { value: "DRH", text: "Hand dredges (DRH)" },
                { value: "DRM", text: "Mechanized dredges (DRM)" },
                { value: "DRX", text: "Dredges (nei) (DRX)" }
              ],
              "Lift nets": [
                { value: "LNP", text: "Portable lift nets (LNP)" },
                { value: "LNB", text: "Boat-operated lift nets (LNB)" },
                { value: "LNS", text: "Shore-operated stationary lift nets (LNS)" },
                { value: "LN", text: "Lift nets (nei) (LN)" }
              ],
              "Falling gear": [
                { value: "FCN", text: "Cast nets (FCN)" },
                { value: "FCO", text: "Cover pots/lantern nets (FCO)" },
                { value: "FG", text: "Falling gear (nei) (FG)" }
              ],
              "Gillnets and entangling nets": [
                { value: "GNS", text: "Set gillnets (anchored) (GNS)" },
                { value: "GND", text: "Drift gillnets (GND)" },
                { value: "GNC", text: "Encircling nets (GNC)" },
                { value: "GNF", text: "Fixed gillnets (on stakes) (GNF)" },
                { value: "GTR", text: "Trammel nets (GTR)" },
                { value: "GTN", text: "Combined gillnets-trammel nets (GTN)" },
                { value: "GEN", text: "Gillnets and entangling nets (nei) (GEN)" }
              ],
              "Traps": [
                { value: "FPN", text: "Stationary uncovered pound nets (FPN)" },
                { value: "FPO", text: "Pots (FPO)" },
                { value: "FYK", text: "Fyke nets (FYK)" },
                { value: "FSN", text: "Stow nets (FSN)" },
                { value: "FWR", text: "Barriers, fences, weirs, etc (FWR)" },
                { value: "FAR", text: "Aerial traps (FAR)" },
                { value: "FIX", text: "Traps (nei) (FIX)" }
              ],
              "Hooks and lines": [
                { value: "LHP", text: "Handlines and hand operated pole and lines (LHP)" },
                { value: "LHM", text: "Mechanized lines and pole-and-lines (LHM)" },
                { value: "LLS", text: "Set longlines (LLS)" },
                { value: "LLD", text: "Drifting longlines (LLD)" },
                { value: "LL", text: "Longlines (nei) (LL)" },
                { value: "LVT", text: "Vertical lines (LVT)" },
                { value: "LTL", text: "Trolling lines (LTL)" },
                { value: "LX", text: "Hooks and lines (nei) (LX)" }
              ],
              "Miscellaneous gear": [
                { value: "HAR", text: "Harpoons (HAR)" },
                { value: "MHI", text: "Hand implements (MHI)" },
                { value: "MPM", text: "Pumps (MPM)" },
                { value: "MEL", text: "Electric fishing (MEL)" },
                { value: "MPN", text: "Pushnets (MPN)" },
                { value: "MSO", text: "Scoopnets (MSO)" },
                { value: "MDR", text: "Drive-in-nets (MDR)" },
                { value: "MDV", text: "Diving (MDV)" },
                { value: "MIS", text: "Gear nei (MIS)" }
              ],
              "Gear not known": [
                { value: "NK", text: "Gear not known (NK)" }
              ]
            };

            document.addEventListener('DOMContentLoaded', function () {
              const gear1 = document.getElementById('gear1');
              const gear2 = document.getElementById('gear2');

              gear1.addEventListener('change', function () {
                const selectedCategory = this.value;
                gear2.innerHTML = '<option value="">Select gear type</option>';

                if (gearTypes[selectedCategory]) {
                  gearTypes[selectedCategory].forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.value;
                    option.textContent = item.text;
                    gear2.appendChild(option);
                  });
                }
              });
            });
          </script>





          <div class="govuk-button-group">
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
            </button>
            <button type="button" id="addLandingButton" class="govuk-button">Add landing</button>
        </form>
      </div>


        </form>
    </div>

<form method="post" action="/gamma/catch-waters">
    <h2 class="govuk-heading-l">Your landings</h2>
    <table class="govuk-table" id="landingsTable">
      <thead>
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Product</th>
          <th class="govuk-table__header">Details</th>
          <th class="govuk-table__header">Weight (kg)</th>
          <th class="govuk-table__header govuk-!-text-align-right">Actions</th>
        </tr>
      </thead>
      <tbody id="landingsTableBody">
        <!-- New rows will be inserted here -->
      </tbody>
    </table>

    <div class="govuk-button-group">
      <button type="submit" name="_action" class="dcx-button govuk-button govuk-button--secondary" value="saveAsDraft"
        id="saveAsDraft" data-module="govuk-button" data-testid="save-draft-button" onclick="location.href='catch-certificates.html'">Save as draft</button>
      <button type="submit" class="dcx-button govuk-button">Save and continue</button>
    </div>
    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="../gamma/progress.html">
        Back to Your Progress
      </a>
    </p>
    </form>
  </div>
  </div>

  <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-8 govuk-!-margin-bottom-6">
    <hr class="horizontal-line">
    <h2 class="govuk-heading-l">Need help?</h2>
    <p class="govuk-body">
      <a class="govuk-link" href="https://www.gov.uk/guidance/exporting-and-importing-fish-if-theres-no-brexit-deal"
        target="_blank" rel="noopener noreferrer">
        Get help exporting fish from the UK (opens in new tab)
      </a>
      <span class="govuk-visually-hidden">(opens in new tab)</span>
    </p>
  </div>
  </div>
  </div>
</main>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('landingForm');
  const tableBody = document.getElementById('landingsTableBody');
  const addButton = document.getElementById('addLandingButton');
  let editIndex = -1;

  addButton.addEventListener('click', function () {
    const landedDay = document.getElementById('dateLanded-day').value;
    const landedMonth = document.getElementById('dateLanded-month').value;
    const landedYear = document.getElementById('dateLanded-year').value;
    const dateLanded = `${landedDay}/${landedMonth}/${landedYear}`;
    const faoArea = document.getElementById('select-faoArea').value;
    const vessel = document.getElementById('vessel').value;
    const weight = document.getElementById('weight').value;
    const gear1 = document.getElementById('gear1').value;
    const gear2 = document.getElementById('gear2').value;

    const newRow = `
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Product</td>
        <td class="govuk-table__cell">
          <b>Date Landed:</b> ${dateLanded}<br>
          <b>Catch area:</b> ${faoArea}<br>
          <b>Vessel:</b> ${vessel}<br>
          <b>Gear category:</b> ${gear1}<br>
          <b>Gear type:</b> ${gear2}
        </td>
        <td class="govuk-table__cell">${weight}</td>
        <td class="govuk-table__cell govuk-!-text-align-right">
          <button class="govuk-button govuk-button--secondary edit-button" type="button">Edit</button>
          <button class="govuk-button govuk-button--secondary remove-button" type="button">Remove</button>
        </td>
      </tr>
    `;

    tableBody.insertAdjacentHTML('beforeend', newRow);
    form.reset();
  });

  // ✅ Event delegation for edit/remove buttons
  tableBody.addEventListener('click', function (e) {
    const row = e.target.closest('tr');
    if (!row) return;

    if (e.target.classList.contains('edit-button')) {
      const details = row.cells[1].innerText.split('\n');
      const date = details[0].replace('Date Landed: ', '').split('/');
      const area = details[1].replace('Catch area: ', '');
      const vessel = details[2].replace('Vessel: ', '');
      const gear1 = details[3].replace('Gear category: ', '');
      const gear2 = details[4].replace('Gear type: ', '');

      document.getElementById('dateLanded-day').value = date[0];
      document.getElementById('dateLanded-month').value = date[1];
      document.getElementById('dateLanded-year').value = date[2];
      document.getElementById('select-faoArea').value = area;
      document.getElementById('vessel').value = vessel;
      document.getElementById('gear1').value = gear1;
      document.getElementById('gear2').value = gear2;
      document.getElementById('weight').value = row.cells[2].innerText;

      row.remove(); // Remove the row so it can be re-added after editing
    }

    if (e.target.classList.contains('remove-button')) {
      row.remove();
    }
  });
});
</script>






<!-- Include flatpickr library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  // START DATE PICKER
  flatpickr("#startDatepicker", {
    dateFormat: "d-m-Y",
    onChange: function (selectedDates, dateStr) {
      const [day, month, year] = dateStr.split('-');
      document.getElementById('startDate-day').value = day;
      document.getElementById('startDate-month').value = month;
      document.getElementById('startDate-year').value = year;
    }
  });

  document.getElementById('calendarButtonStart').addEventListener('click', function () {
    document.getElementById('startDatepicker').click();
  });
</script>

<script>
  // DATE LANDED PICKER
  flatpickr("#datepicker", {
    dateFormat: "d-m-Y",
    onChange: function (selectedDates, dateStr) {
      const [day, month, year] = dateStr.split('-');
      document.getElementById('dateLanded-day').value = day;
      document.getElementById('dateLanded-month').value = month;
      document.getElementById('dateLanded-year').value = year;
    }
  });

  document.getElementById('calendarButtonLanded').addEventListener('click', function () {
    document.getElementById('datepicker').click();
  });
</script>








<!-- JS (your app JS that includes GOVUKFrontend) -->
<script src="/assets/javascripts/application.js"></script>
<script>
  window.GOVUKFrontend?.initAll?.()
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarButton = document.getElementById('calendarButton');
    const dayInput = document.getElementById('dateLanded');
    const monthInput = document.getElementById('dateLanded-month');
    const yearInput = document.getElementById('dateLanded-year');

    // Initialize the GOV.UK Datepicker on the inputs
    const dateInput = new window.GOVUKFrontend.DateInput({
      dayInput: dayInput,
      monthInput: monthInput,
      yearInput: yearInput
    });

    // When calendar button is clicked, focus the first date input field
    calendarButton.addEventListener('click', function () {
      dayInput.focus();
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarButton = document.getElementById('calendarButton');
    const dayInput = document.getElementById('startDate');
    const monthInput = document.getElementById('startDate-month');
    const yearInput = document.getElementById('startDate-year');

    // Initialize the GOV.UK Datepicker on the inputs
    const dateInput = new window.GOVUKFrontend.DateInput({
      dayInput: dayInput,
      monthInput: monthInput,
      yearInput: yearInput
    });

    // When calendar button is clicked, focus the first date input field
    calendarButton.addEventListener('click', function () {
      dayInput.focus();
    });
  });
</script>








{% endblock %}