{% extends "layouts/main.html" %}

{% block head %}

{{ super() }}
<link rel="stylesheet" href="/build-v2/_assets/govuk-frontend.min-5TZSCRBE.css">
<link rel="stylesheet" href="/build-v2/_assets/language-MWHIHAGR.css">
<link rel="stylesheet" href="/build-v2/_assets/help-link-B3BPNIA5.css">
<link rel="stylesheet" href="/build-v2/_assets/banner-7FVKMX46.css">
<link rel="stylesheet" href="/build-v2/_assets/dashboard-PJVMVE46.css">
<link rel="stylesheet" href="/build-v2/_assets/app-task-GZRNR5JK.css">
<link rel="stylesheet" href="/build-v2/_assets/autocomplete-LSXXNNXN.css">
<link rel="stylesheet" href="/build-v2/_assets/upload-guidance-AP3HH7Z6.css">
<link rel="stylesheet" href="/build-v2/_assets/directLanding-5P6VBAUJ.css">
<link rel="stylesheet" href="/build-v2/_assets/react-datepicker-TBH2VA4Q.css">
<link rel="stylesheet" href="/build-v2/_assets/utils-QP7FJSJ4.css">
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  <div style="border:0;margin-bottom:30px" class="govuk-notification-banner" role="alert">
    <div class="govuk-notification-banner__header govuk-!-padding-top-4">
      <h2 style="color:white;margin-bottom:15px" class="govuk-heading-l">Service updates</h2>
      <p style="color:white;margin-top:0">We’re making regular improvements to this prototype based on user feedback. Recent changes include clearer guidance for products and landings.</p>

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="dashboardheader">
        <div class="dashboardinnerheader">
          <h1 class="govuk-heading-xl">FES Charity0603 UK Ltd: catch certificates</h1>
        </div>
      </div>
      <div class="govuk-!-margin-bottom-3">
        <form method="post" action="../gamma/landings-entry.html">

<a href="../gamma/landings-entry.html" role="button"
   class="dcx-button govuk-button govuk-button--start govuk-!-margin-bottom-3 govuk-!-padding-left-4 govuk-!-padding-right-8"
   draggable="false" data-module="govuk-button">
  Create a new catch certificate
</a>


        </form>
            <a id="manageYourProductFavourites" class="govuk-link" href="/manage-favourites">Manage your product
          favourites</a>
      </div>
      <h2 class="govuk-heading-l">In progress</h2>
     
<p class="govuk-body">
  You can create up to 50 draft catch certificates. When you reach the limit, you’ll need to delete a draft before you can start a new one.
</p>


      <table class="govuk-table" data-testid="catchCertificate-inprogress-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Document number</th>
            <th scope="col" class="govuk-table__header">Your reference</th>
            <th scope="col" class="govuk-table__header">Date started</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
          </tr>
        </thead>


     
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell govuk-!-width-one-quarter">GBR-2025-CC-DB9443BBF</td>
          <td scope="row" class="govuk-table__cell tablerowuserref">Usability testing</td>
          <td scope="row" class="govuk-table__cell">28 May 2025</td>
          <td scope="row" class="govuk-table__cell">
           <strong class="govuk-tag govuk-tag--grey">Draft</div>
          </td>
          <td scope="row" class="govuk-table__cell govuk-table__cell--numeric"><a id="continue" class="govuk-link"
              href="progress">Continue<span
                class="govuk-visually-hidden">catch certificate GBR-2024-CC-042C9AEC2 CC-SIMPLE CATCH CERTIFICATE
                REFERENCE}</span></a><br><a id="delete" class="govuk-link"
              href="tbc">Delete<span
                class="govuk-visually-hidden">catch certificate GBR-2024-CC-042C9AEC2 CC-SIMPLE CATCH CERTIFICATE
                REFERENCE}</span></a></td>
        </tr>
        </tbody>
      </table>



      <table class="govuk-table" data-testid="catchCertificate-completed-table">
          <h2 class="govuk-heading-l">Completed</h2>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Document number</th>
            <th scope="col" class="govuk-table__header">Your reference</th>
            <th scope="col" class="govuk-table__header">Date Created</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell govuk-!-width-one-quarter">GBR-2025-CC-351C9D25F</td>
            <td scope="row" class="govuk-table__cell tablerowuserref"></td>
            <td scope="row" class="govuk-table__cell">08 Apr 2025</td>
            <td scope="row" class="govuk-table__cell govuk-table__cell--numeric"><a
                data-testid="catchCertificate-viewcompleted" class="govuk-link"
                href="/pdf/export-certificates/CatchCertificate-GBR-2025-CC-351C9D25F.pdf">View<span
                  class="govuk-visually-hidden">catch certificate GBR-2025-CC-351C9D25F </span></a><br><a
                data-testid="catchCertificate-voidcompleted" class="govuk-link"
                href="/create-catch-certificate/GBR-2025-CC-351C9D25F/void-this-catch-certificate">Void<span
                  class="govuk-visually-hidden">catch certificate GBR-2025-CC-351C9D25F }</span></a><br><a
                data-testid="catchCertificate-copycompleted" class="govuk-link"
                href="/create-catch-certificate/GBR-2025-CC-351C9D25F/copy-this-catch-certificate">Copy<span
                  class="govuk-visually-hidden">catch certificate GBR-2025-CC-351C9D25F }</span></a></td>
          </tr>
        </tbody>
      </table>

<div class="govuk-inset-text">
  <p class="govuk-body">
    Refresh the page to check for updates to your catch certificates. Open failed submissions to find out how to fix the problem.
  </p>
</div>



      <nav class="govuk-pagination" role="navigation" aria-label="results" data-testid="catchCertificate-pagination">
        <div class="govuk-pagination__prev"><svg class="govuk-pagination__icon govuk-pagination__icon--prev"
            xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false"
            viewBox="0 0 15 13">
            <path
              d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
            </path>
          </svg><span class="govuk-pagination__link-title">Previous</span></div>
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item  govuk-pagination__item--current"><a
              data-testid="catchCertificate-monthly-link-4-2025" class="govuk-link govuk-pagination__link"
              href="/create-catch-certificate/catch-certificates?month=4&amp;year=2025&amp;position=0"
              aria-label="Apr 2025">May 2025</a></li>
          <li class="govuk-pagination__item  govuk-pagination--block"><a
              data-testid="catchCertificate-monthly-link-3-2025" class="govuk-link govuk-pagination__link"
              href="/create-catch-certificate/catch-certificates?month=3&amp;year=2025&amp;position=1"
              aria-label="Mar 2025">Jun 2025</a></li>
          <li class="govuk-pagination__item  govuk-pagination--block"><a
              data-testid="catchCertificate-monthly-link-2-2025" class="govuk-link govuk-pagination__link"
              href="/create-catch-certificate/catch-certificates?month=2&amp;year=2025&amp;position=2"
              aria-label="Feb 2025">Jul 2025</a></li>
        </ul>
        <div class="govuk-pagination__next"><a class="govuk-link govuk-pagination__link"
            href="/create-catch-certificate/catch-certificates?month=02&amp;year=2025&amp;position=0" rel="previous">
            <span class="govuk-pagination__link-title ">Next</span> <svg
              class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
              width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path
                d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
              </path>
            </svg></a></div>
      </nav>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="horizontal-line">
      <h3 class="govuk-heading-s">Need help?</h3>
      <p><a data-testid="guidance-on-exporting-fish" rel="noopener noreferrer"
          href="https://www.gov.uk/guidance/exporting-and-importing-fish-if-theres-no-brexit-deal" target="_blank"
          class="govuk-link">Guidance on exporting fish (gov.uk)<!-- --> <span class="govuk-visually-hidden">(opens in
            new tab)</span></a></p>
      <hr style="margin-top:0;margin-bottom:0">
      <h3 class="govuk-heading-s" style="margin-bottom:0">Direct landings</h3>
      <p><a data-testid="prior-notification-form" rel="noopener noreferrer"
          href="https://www.gov.uk/government/publications/give-prior-notification-to-land-fish-in-the-eu"
          target="_blank" class="govuk-link">Prior notification form (gov.uk)<!-- --> <span
            class="govuk-visually-hidden">(opens in new tab)</span></a> <!-- -->(PDF)<br><a
          data-test-id="pre-landing-declaration" rel="noopener noreferrer"
          href="https://www.gov.uk/government/publications/make-a-pre-landing-declaration-to-land-fish-in-an-eu-port"
          target="_blank" class="govuk-link">Pre-landing declaration (gov.uk)<!-- --> <span
            class="govuk-visually-hidden">(opens in new tab)</span></a> <!-- -->(PDF)</p>
      <hr style="margin-top:0;margin-bottom:0">
      <h3 class="govuk-heading-s" style="margin-bottom:0">Other fish export services</h3>
      <p>(for fish not caught by UK flagged vessels)<br><a data-testid="create-uk-processing-statement"
          rel="noopener noreferrer" href="https://www.gov.uk/guidance/create-a-uk-processing-statement" target="_blank"
          class="govuk-link">Create a UK processing statement<!-- --> <span
            style="margin:4px 0;display:inline-block">(gov.uk)</span> <span class="govuk-visually-hidden">(opens in new
            tab)</span></a><br><a data-testid="create-uk-storage-document" rel="noopener noreferrer"
          href="https://www.gov.uk/guidance/create-a-uk-storage-document" target="_blank" class="govuk-link">Create a UK
          storage document<!-- --> <span style="margin:4px 0;display:inline-block">(gov.uk)</span> <span
            class="govuk-visually-hidden">(opens in new tab)</span></a></p>
      <hr style="margin-top:0;margin-bottom:0">
      <h3 class="govuk-heading-s" style="margin-bottom:0">Send feedback</h3>
      <p>Have two minutes to help improve this service? <a data-testid="dashboard-feedback-url-link"
          rel="noopener noreferrer" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_1S5DVwag5rcTrAq"
          target="_blank" class="govuk-link">Take our survey now<!-- --> <span class="govuk-visually-hidden">(opens in
            new tab)</span></a></p>
    </div>
  </div>
</main>


{% endblock %}