{% extends "layouts/main.html" %}

{% block head %}



{{ super() }}
<link rel="stylesheet" href="/build-v2/_assets/govuk-frontend.min-5TZSCRBE.css">
<link rel="stylesheet" href="/build-v2/_assets/language-MWHIHAGR.css">
<link rel="stylesheet" href="/build-v2/_assets/help-link-B3BPNIA5.css">
<link rel="stylesheet" href="/build-v2/_assets/banner-7FVKMX46.css">
<link rel="stylesheet" href="/build-v2/_assets/dashboard-PJVMVE46.css">
<link rel="stylesheet" href="/build-v2/_assets/app-task-GZRNR5JK.css">
<link rel="stylesheet" href="/build-v2/_assets/autocomplete-LSXXNNXN.css">
<link rel="stylesheet" href="/build-v2/_assets/upload-guidance-AP3HH7Z6.css">
<link rel="stylesheet" href="/build-v2/_assets/directLanding-5P6VBAUJ.css">
<link rel="stylesheet" href="/build-v2/_assets/react-datepicker-TBH2VA4Q.css">
<link rel="stylesheet" href="/build-v2/_assets/utils-QP7FJSJ4.css">
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="post" action="../gamma/catch-certificates.html">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-!-margin-bottom-0">
            <h1 class="govuk-heading-xl">What do you want to do?</h1>
          </legend>
          <div class="govuk-radios__item"><input id="createCatchCertificate" type="radio" role="radio"
              name="journeySelection" class="govuk-radios__input" checked="" value="catchCertificate"><label
              for="createCatchCertificate" class="govuk-label govuk-radios__label">Create a UK catch certificate
              (Including links to direct landing documents)</label></div>
          <div class="govuk-radios__item"><input id="createProcessingStatement" type="radio" role="radio"
              name="journeySelection" class="govuk-radios__input" value="processingStatement"><label
              for="createProcessingStatement" class="govuk-label govuk-radios__label">Create a UK processing
              statement</label></div>
          <div class="govuk-radios__item"><input id="createStorageDocument" type="radio" role="radio"
              name="journeySelection" class="govuk-radios__input" value="storageNotes"><label
              for="createStorageDocument" class="govuk-label govuk-radios__label">Create a UK storage document</label>
          </div>
        </fieldset><br><button type="submit" class="dcx-button govuk-button" id="continue"
          data-module="govuk-button">Continue</button>
      </form>

      <script>
        document.getElementById('continue').addEventListener('click', function(event) {
          event.preventDefault();  // Stop the form from submitting right away
      
          const selected = document.querySelector('input[name="journeySelection"]:checked');
      
          if (!selected) {
            alert('Please select an option before continuing.');
            return;
          }
      
          let url;
          switch (selected.value) {
            case 'catchCertificate':
              url = '../gamma/catch-certificates.html';
              break;
            case 'processingStatement':
              url = '../gamma/processing-statement.html';  // You can create this page later
              break;
            case 'storageNotes':
              url = '../gamma/storage-document.html';  // You can create this page later
              break;
            default:
              url = '../gamma/catch-certificates.html';
          }
      
          window.location.href = url;
        });
      </script>

    </div>
  </div>
</main>

{% endblock %}
