{% extends "layouts/main.html" %}

{% block pageTitle %}
  Progress - Storage Document
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <!-- Back link -->
      <a href="/" class="govuk-back-link">Back</a>
      
      <h1 class="govuk-heading-xl">
        Storage Document application:<br>GBR-2021-SD-C81EB3DFA
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 7 sections.</p>

      <ol class="app-task-list">
        
        <!-- Section 1 - Exporter-->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>Exporter
          </h2>
          <ul class="app-task-list__items">
            
            <!-- Your reference -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="your-reference-status">Your reference (optional)</a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="your-reference-status">Optional</strong>
              <strong class="govuk-tag app-task-list__tag" id="your-reference-status" style="display:none;">Completed</strong>
            </li>
            
            <!-- Exporter details -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="exporter-details-status">Exporter details</a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="exporter-details-status">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="exporter-details-status" style="display:none;">Completed</strong>
            </li>
          </ul>
        </li>
        
        <!-- Section 2 - Products -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>Products
          </h2>
          <ul class="app-task-list__items">
            
            <!-- Product details -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="product-details-status">Product details</a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="product-details-status">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="product-details-status" style="display:none;">Completed</strong>
            </li>
            
          </ul>
        </li>
        
        <!-- Section 3 - Storage facilities -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>Storage facilities
          </h2>
          <ul class="app-task-list__items">
            
            <!-- Storage facility -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="export-journey-status">Storage facilities</a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="storage-facility-status">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="storage-facility-status" style="display:none;">Completed</strong>
            </li>
            
          </ul>
        </li>
        
        <!-- Section 4 - Transportation -->
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span>Transportation
          </h2>
          <ul class="app-task-list__items">
            
            <!-- Export destination -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="export-destination-status">Export destination</a>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="export-destination-status">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="export-destination-status" style="display:none;">Completed</strong>
            </li>
            
            <!-- Transport type -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="transport-type-status">Transport type</a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="transport-type-status">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="transport-type-status" style="display:none;">Completed</strong>
            </li>
            
            <!-- Transport details -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span aria-describedby="transport-details-status">Transport details</span>
              </span>
              <strong class="govuk-tag app-task-list__tag govuk-tag--grey" id="transport-details-status">Cannot start yet</strong>
              <strong class="govuk-tag app-task-list__tag govuk-tag--blue" id="transport-details-status" style="display:none;">Incomplete</strong>
              <strong class="govuk-tag app-task-list__tag" id="transport-details-status" style="display:none;">Completed</strong>
            </li>
            
          </ul>
        </li>
      </ol>
      
      <!-- Page navigation -->
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="window.location = '../'">Return to your dashboard</button>&nbsp;
		  <button class="govuk-button" data-module="govuk-button" onclick="window.location = 'export-summary.html'" style="display:none;">Check your answers and submit</button>
      
    </div>
  </div>

{% endblock %}
