{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl">{{ serviceName }}</h1>{{ releaseVersion | log }}

		<h2 class="govuk-heading-m">Disclaimer</h2>

		<p>This site contains prototype versions of features for the Fish Exports Service.<br>
      Services and functionality may be restricted or reduced, and live data will not be available!!</p>
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Proof of concept</th>
          <th scope="col" class="govuk-table__header">Work in progress</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <!-- proof of concept (UCD) -->
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="poc/landings-entry.html">Landings entry</a>
              </li>
              <li>
                <a href="poc/landings-entry-confirmation.html">Landings entry confirmation</a>
              </li>
              <li>
                <a href="poc/upload-file.html">Data upload</a>
              </li>
              <li>
                <a href="poc/upload-guidance.html">Data upload guidance</a>
              </li>
              <li>
                <a href="poc/progress.html">Progress</a>
              </li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <!-- work in progress -->
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="gamma/log-in.html">Log in</a>
              </li>
              <li>
                <a href="gamma/landings-entry.html">Landings entry</a>
              </li>
              <li>
                <a href="gamma/landings-entry-confirmation.html">Landings entry confirmation</a>
              </li>
              <li>
                <a href="gamma/upload-file.html">Data upload</a>
              </li>
              <li>
                <a href="gamma/upload-guidance-2.html">Data upload guidance</a>
              </li>
              <li>
                <a href="gamma/progress.html">Progress</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="poc/ps/progress.html">PS: Progress</a>
              </li>
              <li>
                <a href="poc/sd/progress.html">SD: Progress</a>
              </li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="multiple/ps/progress.html">PS: Progress</a>
              </li>
              <li>
                <a href="multiple/sd/progress.html">SD: Progress</a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}